# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production Builds
dist/
client/dist/
client/build/

# Environment Variables & Secrets
.env
*.env
.env.local
client/.env*
server/.env*

# Logs & Caches
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.cache/

# IDE & System Files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporary & Build artifacts
*.tmp
*.tmp*

